/* Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #011826;
    background-alt: #0A2332;
    foreground:     #EEEEEE;
    selected:       #D97E96;
    active:         #496886;
    urgent:         #A36584;
}
